<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenmxr.cart.mapper.CartMapper">
	<select id="selectCartsByUserId" parameterType="String" resultType="Cart">
		select * from t_cart where user_id=#{userId} order by cart_id desc
	</select>
	<select id="selectCartByUserIdAddProductId" parameterType="Cart" resultType="Cart">
		select * from t_cart where user_id=#{userId} and product_id=#{productId}
	</select>
	<update id="updateNumByUserIdAddProductId" parameterType="Cart">
		update t_cart set num=#{num} where user_id=#{userId} and product_id=#{productId}
	</update>
	<insert id="insertCart" parameterType="Cart">
		insert into t_cart (
		user_id,product_id,product_name,
		product_img1url,product_price,num) values(
		#{userId},#{productId},#{productName},
		#{productImg1url},#{productPrice},#{num})
	</insert>
	<delete id="deleteCartByUserIdAndProductId" parameterType="Cart">
		delete from t_cart where user_id=#{userId} and product_id=#{productId}
	</delete>
</mapper>