<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenmxr.user.mapper.UserMapper">

	<select id="selectUserCountByUserName" parameterType="String" resultType="int">
		select count(user_id) from t_user where user_name = #{userName};
	</select>
	
	<insert id="insertUser" parameterType="User">
		insert into t_user (
		user_id,
		user_name,
		user_password,
		user_phone,
		user_email,
		user_type,
		user_time) values(
		#{userId},
		#{userName},
		#{userPassword},
		#{userPhone},
		#{userEmail},
		#{userType},
		#{userTime});
	</insert>
	
	<select id="selectUserByNameAndPassword" parameterType="User" resultType="User">
		select * from t_user where user_name = #{userName} and user_password = #{userPassword};
	</select>
	
	<select id="queryOneAddrByUserId" parameterType="String" resultType="Address">
		select * from t_address where user_id = #{userId} order by addr_id desc limit 1;
	</select>
	
	<insert id="insertAddress" parameterType="Address">
		insert into t_address (user_id, addr_username, addr_provice, addr_city, addr_county, addr_area, addr_zip, addr_phone)
		values(#{userId}, #{addrUsername}, #{addrProvice}, #{addrCity}, #{addrCounty}, #{addrArea}, #{addrZip}, #{addrPhone});
	</insert>
	
	<delete id="deleteAddressByAddrId" parameterType="Integer">
		delete from t_address where addr_id=#{addrId};
	</delete>
</mapper>